body {
    background-color: #000;
}

#pButton {
    object-position: center;
    color: green;
}

#my-sample-form {
    background-color: #4086ff;
    border: 1px dashed black;
    padding: 1%;
}

.campoform {
    background-color: #777;
    border: 1px solid #333;
    size: 20%;
}

.campoform.braintree-hosted-fields-focused {
    border-color: #777;
}

.campoform.braintree-hosted-fields-focused {
    border-color: #777;
}

.campoform.braintree-hosted-fields-invalid {
    border-color: tomato;
}

.campoform.braintree-hosted-fields-valid {
    border-color: limegreen;
}