html{
    align-items: center;
}

#cabecalho {
    background-color: #4086ff;
    text-align: center;
    font-size: large;
}

#rodape {
    background-color: #4086ff;
    text-align: center;
    font-size: large;
}

#body {
    background-color: #000;
    align-items: center;
}

#submit_button{
    background-color: #4086ff; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#pButton {
    align-items: center;
    color: green;
    size: 20px;
}

#my-sample-form {
    background-color: #fff; 
    border: 1px solid black;
    padding: 1%;
    align-items: center;
    font-size: large;
}

#bthankyou{
    text-align: center;
}

#sucessfulimg{
    width: 100px;
    height: 100px;
}

#card-number{
    border: 1px solid black;
}

#cvv{
    border: 1px solid black;
}

#expiration-date{
    border: 1px solid black;
}

.campoform {
    background-color: #777;
    border: 10px solid #333;
}

.campoform.braintree-hosted-fields-focused {
    border-color: #777;
}

.campoform.braintree-hosted-fields-focused {
    border-color: #777;
}

.campoform.braintree-hosted-fields-invalid {
    border-color: tomato;
}

.campoform.braintree-hosted-fields-valid {
    border-color: limegreen;
}