.cabecalho {
    background-color: #4086ff;
    text-align: center;
    font-size: xx-large;
}

body {
    background-color: #000;
}

#pButton {
    align-items: center;
    color: green;
    size: 20px;
}

#my-sample-form {
    background-color: #4086ff;
    border: 1px dashed black;
    padding: 1%;
    font-size: xx-large;
}

.campoform {
    background-color: #777;
    border: 10px solid #333;
}

.campoform.braintree-hosted-fields-focused {
    border-color: #777;
}

.campoform.braintree-hosted-fields-focused {
    border-color: #777;
}

.campoform.braintree-hosted-fields-invalid {
    border-color: tomato;
}

.campoform.braintree-hosted-fields-valid {
    border-color: limegreen;
}